<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homr Page</title>
</head>
<body>

    <style>
        h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: blueviolet;
            text-align: center;
            margin-top: 5%;
            text-decoration: double;
        }
        button {
            background-color: green;
            color: red;
            text-align: center;
            align-items: center;
            animation: forwards;
        }
    </style>
    <h2>Total Number of Students are : <%= count%></h2>
<a href="/user">
  <button>Join Us Today</button>
</a>

</body>
</html>